.poll-manager {
  box-sizing: border-box;
  margin: 0;
  min-height: rem(380px);

  @include align-items(center);
  @include background-image(radial-gradient(circle at 50% 50%, #2E343E 0%, #10131B 125%));
  @include display(flex);
  @include flex-wrap(wrap);
}